{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
</head>
<body>
    <nav>
        <ol>
            {% if user.is_authenticated %}
                <li><a href="{% url 'CRM:index' 1 %}">Main</a></li>
                <li><a href="{% url 'CRM:search' %}">Search Person</a></li>
                <li><a href="{% url 'users:detail' %}">My account</a></li>
                {% if user.moderator %}
                    <li><a href="{% url 'users:index' 1 %}">Administration</a></li>
                {% endif %}
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
		        <li><a href="{% url 'users:login' %}">Login</a></li>
            {% endif %}
        </ol>
    </nav>
{% block content %}{% endblock %}
<footer>
    Bartosz Wawrzyniak - Programming Workshop 2020
</footer>
</body>
</html>