{% extends 'base.html' %}
{% load static %}
{% block title %}Account{% endblock %}
{% block content %}
    <div style="height: 150px"></div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" name="save">
        {% if not admin %}
            <a href="{% url 'users:password' %}"><input type="button" value="Change password"></a>
            <button value="{% url 'users:detail' user.id %}" class="delete">
                Delete
            </button>
        {% endif %}
    </form>
    <script src="{% static 'main.js' %}"></script>
    <script>
    $(document).ready(function () {
        $('button').click(function (event) {
            event.preventDefault();
            del($(this).val());
            $(location).attr('href', '{% url 'users:login' %}')
        });
    });
    </script>
{% endblock %}