{% extends 'base.html' %}
{% block content %}
    <div id="content">
        <form method="post" action="{% url 'users:index' user_list.number %}">
            {% csrf_token %}
            {{ form_set.management_form }}
            <table>
                    <tr>
                        <th>Login</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Date of birth</th>
                        <th>Role</th>
                        <th>Delete</th>
                        <th></th>
                    </tr>
                {% for form in form_set %}
                    {{ form.id }}
                    <tr>
                        <td>{{ form.login }}</td>
                        <td>{{ form.name }}</td>
                        <td>{{ form.surname }}</td>
                        <td>{{ form.date_of_birth }}</td>
                        <td>{{ form.role_id }}</td>
                        <td>{{ form.is_deleted }}</td>
                        <td><input type="submit" value="Save"></td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% if user_list.has_previous or user_list.has_next %}
        <table>
            <tr style="border: none">
                {% if user_list.has_previous %}
                    <td style="border: none"><a href="{{ user_list.previous_page_number }}">Last page</a></td>
                {% endif %}
                {% if user_list.has_next %}
                    <td style="border: none"><a href="{{ user_list.next_page_number }}">Next page</a></td>
                {% endif %}
            </tr>
        </table>
    {% endif %}
    {{ form }}
    </div>

{% endblock %}