{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
    {% if error %}
        <div style="position: absolute; left: 50%;">
            <div id="error">{{ error }}</div>
        </div>
    {% endif %}
    <div style="height: 150px"></div>
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        <label>
            <input type="text" placeholder="Login" name="login" required>
        </label><br>
        <label>
            <input type="password" placeholder="Password" name="password" required>
        </label><br>
        <input type="submit" value="Sign in">
        <a href="{% url 'users:register' %}"><input type="button" value="Sign up"></a>
    </form>
{% endblock %}