{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
    <div style="height: 150px"></div>
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {% for message in messages %}
            <div id="error">
                {{ message }}
            </div>
        {% endfor %}
        {{ form.errors }}
        {{ form.login }}<br>
        {{ form.password }}<br>
        {% if redirect %}
            <input type="hidden" name="redirect" value="{{ redirect }}">
        {% endif %}
        <input type="submit" value="Sign in">
        <a href="{% url 'users:register' %}"><input type="button" value="Sign up"></a>
    </form>
{% endblock %}